<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/cart.css">
</head>
<body>
    <h2>Your items:</h2>
    <div class="first"> 
        <div class="second">
            <div class="chair1">
                <div class="photo  title" style="background-image:url('/images/chair1.jpg');" ></div>
            <div class="detail"><p>Details:<br>Classic chair<br>Price :800 only-</p></div>
            </div>

        </div>
        
    </div>
    <input type="submit" class="btn int" value="Pay 800">
</body>
</html>