<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chair</title>
    <link rel="stylesheet" href="/stylesheets/chair.css">
</head>
<body>
    <div class="heading"><p>Top Selling Chairs:</p></div>
    <div class="categories">
        <div class="products">
            <form action="/pay">
            <div class="chair1">
                <div class="photo  title" style="background-image:url('/images/chair1.jpg');" ></div>
            <div class="detail"><p>Details:<br>Classic chair<br>Price :800 only-</p></div>
            <input type="submit" class="btn int" value="Add to Cart">
            </div>


            <div class="chair1">
                <div class="photo  title" style="background-image:url('/images/chair2.webp');" ></div>
            <div class="detail"><p>Details:<br>Classic Plastic&Fibre chair<br>Price :800 only-</p></div>
            <input type="submit" class="btn int" value="Add to Cart">
            </div>
        </form>
        </div>
    </div>
</body>
</html>