<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <img src="/images/logo.jpg" alt="pin logo" class="img1" />
        <h2>Make account to see More</h2>

        <form action="/register" method="post">
          <div class="label-float">
            <input name="username" type='text' id='username' placeholder=''>
            <label for='user'>Username</label>
        </div>
        <div class="label-float">
          <input name="email" type='email' id='username' placeholder=''>
          <label for='user'>Email</label>
      </div>
      <div class="label-float">
        <input name="contact" type='number' id='username' placeholder=''>
        <label for='user'>Contact number</label>
    </div>
        <div class="label-float">
            <input name="password" type='password' id='password' placeholder=''>
            <label for='password'>Password</label>
        </div>

        <input type="submit" class="btn int" value="Register">
        
        </form>

        <div>
            
        </div>

        <p>Have an Account ? <a href='/login'>Login</a></p>
    </div>
</div>

      
</body>
</html>