<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chair</title>
    <link rel="stylesheet" href="/stylesheets/chair.css">
</head>
<body>
    <div class="heading"><p>Top Selling Tables:</p></div>
    <div class="categories">
        <div class="products">
            <div class="chair1">
                <div class="photo  title" style="background-image:url('/images/table1.jpg'); background-size:contain;" ></div>
            <div class="detail"><p>Details:<br>Classic table<br>Price :800 only-</p></div>
            <input type="submit" class="btn int" value="Add to Cart">
            </div>


            <div class="chair1">
                <div class="photo  title" style="background-image:url('/images/table1.jpg'); background-size:contain;" ></div>
            <div class="detail"><p>Details:<br>Classic Plastic&Fibre table<br>Price :800 only-</p></div>
            <input type="submit" class="btn int" value="Add to Cart">
            </div>
            
        </div>
    </div>
</body>
</html>